body {
    margin: 0;
    line-height: normal;
  }

  
  :root {
    /* fonts */
    --font-jost: Jost;
    --font-short-stack: "Short Stack";
    --font-inter: Inter;
    --font-noto-sans: "Noto Sans";
    --font-roboto: Roboto;
  
    /* font sizes */
    --font-size-3xl: 22px;
    --font-size-lg: 18px;
    --font-size-2xs: 11px;
    --font-size-sm: 14px;
    --font-size-smi: 13px;
    --font-size-4xs: 9px;
    --font-size-34xl-8: 53.8px;
    --font-size-13xl: 32px;
    --font-size-24xl: 43px;
    --font-size-8xs-5: 4.5px;
    --font-size-xs: 12px;
    --font-size-smi-8: 12.8px;
    --font-size-base: 16px;
    --font-size-smi-4: 12.4px;
    --font-size-3xs-6: 9.6px;
    --font-size-2xl: 21px;
    --font-size-mid: 17px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-11xl: 30px;
    --font-size-mini: 15px;
    --font-size-69xl-6: 88.6px;
    --font-size-8xl: 27px;
    --font-size-25xl: 44px;
    --font-size-sm-9: 13.9px;
    --font-size-base-8: 16.8px;
    --font-size-mini-8: 14.8px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslategray-100: #444;
    --color-darkslategray-200: #333;
    --color-black: #000;
    --color-darkgray-100: #aaa;
    --color-darkgray-200: #a0a0a0;
    --color-darkgray-300: #999;
    --color-whitesmoke-100: #f9f9f9;
    --color-whitesmoke-200: #f7f7f7;
    --color-whitesmoke-300: #f3f3f3;
    --color-whitesmoke-400: #f0f0f0;
    --color-whitesmoke-500: #efefef;
    --color-whitesmoke-600: rgba(249, 249, 249, 0.85);
    --color-mediumaquamarine: #31caae;
    --color-gray-100: rgba(0, 0, 0, 0.7);
    --color-gray-200: rgba(0, 0, 0, 0.6);
    --color-gray-300: rgba(0, 0, 0, 0.13);
    --color-gray-400: rgba(0, 0, 0, 0.05);
    --color-gray-500: rgba(0, 0, 0, 0.07);
    --color-gainsboro: #e2e2e2;
    --color-lightgray: #ccc;
    --color-dimgray-100: #6b6b6b;
    --color-dimgray-200: #555;
    --color-cornflowerblue: #60a9ff;
    --color-silver: #bbb;
    --color-deepskyblue: #1fb1d9;
  
    /* Gaps */
    --gap-lgi: 19px;
    --gap-7xl: 26px;
    --gap-20xl-2: 39.2px;
    --gap-12xs-5: 0.5px;
    --gap-xl: 20px;
    --gap-118xl-5: 137.5px;
    --gap-10xs-8: 2.8px;
    --gap-xs-8: 11.8px;
    --gap-147xl: 166px;
    --gap-10xs: 3px;
    --gap-base-9: 15.9px;
    --gap-lg: 18px;
    --gap-xs-2: 11.2px;
    --gap-1002xl: 1021px;
    --gap-29xl-3: 48.3px;
    --gap-lg-9: 18.9px;
    --gap-2xs-7: 10.7px;
    --gap-12xs-2: 0.2px;
    --gap-6xs: 7px;
    --gap-6xs-2: 6.2px;
    --gap-9xs-8: 3.8px;
    --gap-10xl: 29px;
    --gap-21xl: 40px;
    --gap-6xs-8: 6.8px;
    --gap-5xs-9: 7.9px;
    --gap-6xs-4: 6.4px;
    --gap-11xs-5: 1.5px;
    --gap-18xl-6: 37.6px;
    --gap-10xl-3: 29.3px;
    --gap-8xs-9: 4.9px;
    --gap-293xl: 312px;
    --gap-4xl-9: 23.9px;
    --gap-6xl: 25px;
    --gap-12xl: 31px;
    --gap-mini: 15px;
    --gap-9xl: 28px;
    --gap-lgi-5: 19.5px;
    --gap-7xs: 6px;
    --gap-35xl: 54px;
    --gap-8xl: 27px;
    --gap-9xs: 4px;
    --gap-12xs: 1px;
    --gap-56xl: 75px;
    --gap-18xl: 37px;
    --gap-11xs: 2px;
    --gap-307xl: 326px;
    --gap-19xl: 38px;
    --gap-smi-8: 12.8px;
    --gap-sm: 14px;
    --gap-base: 16px;
    --gap-5xs: 8px;
    --gap-11xl: 30px;
    --gap-5xs-6: 7.6px;
    --gap-6xs-6: 6.6px;
    --gap-74xl-8: 93.8px;
    --gap-10xs-9: 2.9px;
    --gap-2xs: 11px;
    --gap-6xs-5: 6.5px;
    --gap-11xs-8: 1.8px;
    --gap-19xl-5: 38.5px;
    --gap-5xs-1: 7.1px;
    --gap-10xs-5: 2.5px;
    --gap-3xl-5: 22.5px;
    --gap-base-3: 15.3px;
    --gap-4xs-1: 8.1px;
    --gap-base-6: 16.6px;
    --gap-15xl-7: 34.7px;
    --gap-mid: 17px;
    --gap-base-5: 15.5px;
    --gap-33xl-6: 52.6px;
    --gap-9xs-1: 3.1px;
    --gap-15xl: 34px;
    --gap-50xl: 69px;
    --gap-4xl: 23px;
    --gap-26xl: 45px;
    --gap-lgi-4: 19.4px;
    --gap-22xl: 41px;
    --gap-161xl: 180px;
    --gap-71xl: 90px;
    --gap-3xl: 22px;
    --gap-5xl: 24px;
    --gap-42xl: 61px;
    --gap-137xl: 156px;
    --gap-59xl: 78px;
    --gap-20xl: 39px;
    --gap-23xl: 42px;
    --gap-15xl-5: 34.5px;
    --gap-lg-5: 18.5px;
    --gap-16xl: 35px;
    --gap-62xl: 81px;
    --gap-144xl: 163px;
    --gap-lg-8: 18.8px;
    --gap-8xl-7: 27.7px;
    --gap-lgi-7: 19.7px;
    --gap-13xl: 32px;
    --gap-29xl: 48px;
    --gap-17xl: 36px;
    --gap-8xl-6: 27.6px;
    --gap-8xs: 5px;
    --gap-3xs: 10px;
    --gap-xl-2: 20.2px;
    --gap-77xl-2: 96.2px;
    --gap-89xl-2: 108.2px;
    --gap-3xs-7: 9.7px;
    --gap-11xs-9: 1.9px;
    --gap-15xl-1: 34.1px;
    --gap-lg-3: 18.3px;
    --gap-lg-2: 18.2px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-56xl: 75px;
    --padding-55xl: 74px;
    --padding-10xs-1: 2.1px;
    --padding-8xs: 5px;
    --padding-5xs: 8px;
    --padding-20xl: 39px;
    --padding-11xs: 2px;
    --padding-86xl: 105px;
    --padding-17xl: 36px;
    --padding-xs: 12px;
    --padding-mini-8: 14.8px;
    --padding-4xs: 9px;
    --padding-base-2: 15.2px;
    --padding-mini: 15px;
    --padding-mid: 17px;
    --padding-12xs: 1px;
    --padding-4xl: 23px;
    --padding-199xl: 218px;
    --padding-26xl: 45px;
    --padding-8xs-5: 4.5px;
    --padding-smi: 13px;
    --padding-8xs-7: 4.7px;
    --padding-10xs-8: 2.8px;
    --padding-3xs: 10px;
    --padding-base-8: 16.8px;
    --padding-base-7: 15.7px;
    --padding-20xl-4: 39.4px;
    --padding-base-3: 15.3px;
    --padding-base: 16px;
    --padding-9xs-4: 3.4px;
    --padding-7xs-8: 5.8px;
    --padding-6xs: 7px;
    --padding-9xs-8: 3.8px;
    --padding-10xs: 3px;
    --padding-9xs: 4px;
    --padding-60xl: 79px;
    --padding-59xl: 78px;
    --padding-18xl: 37px;
    --padding-30xl: 49px;
    --padding-24xl: 43px;
    --padding-7xl: 26px;
    --padding-9xs-9: 3.9px;
    --padding-sm: 14px;
    --padding-lgi: 19px;
    --padding-mid-1: 17.1px;
    --padding-smi-4: 12.4px;
    --padding-3xl: 22px;
    --padding-lg-1: 18.1px;
    --padding-mid-2: 17.2px;
    --padding-299xl: 318px;
    --padding-140xl: 159px;
    --padding-23xl: 42px;
    --padding-696xl: 715px;
    --padding-19xl: 38px;
    --padding-33xl: 52px;
    --padding-9xl: 28px;
    --padding-15xl: 34px;
    --padding-147xl: 166px;
    --padding-8xs-9: 4.9px;
    --padding-12xs-2: 0.2px;
    --padding-361xl: 380px;
    --padding-171xl: 190px;
    --padding-lg-2: 18.2px;
    --padding-34xl: 53px;
    --padding-12xl: 31px;
    --padding-8xl: 27px;
    --padding-9xs-2: 3.2px;
    --padding-7xs: 6px;
    --padding-11xs-8: 1.8px;
    --padding-10xs-5: 2.5px;
    --padding-2xs: 11px;
    --padding-8xs-4: 4.4px;
    --padding-sm-4: 13.4px;
    --padding-mini-3: 14.3px;
    --padding-11xs-7: 1.7px;
    --padding-11xs-2: 1.2px;
    --padding-2xs-2: 10.2px;
    --padding-xs-5: 11.5px;
    --padding-6xs-5: 6.5px;
    --padding-12xs-5: 0.5px;
    --padding-10xl: 29px;
    --padding-base-4: 15.4px;
    --padding-7xs-3: 5.3px;
    --padding-9xs-5: 3.5px;
    --padding-7xs-2: 5.2px;
    --padding-6xs-9: 6.9px;
    --padding-lg: 18px;
    --padding-mini-7: 14.7px;
    --padding-9xs-3: 3.3px;
    --padding-12xs-6: 0.6px;
    --padding-11xs-5: 1.5px;
    --padding-4xs-1: 8.1px;
    --padding-8xs-8: 4.8px;
    --padding-5xs-7: 7.7px;
    --padding-2xl: 21px;
    --padding-5xl-2: 24.2px;
    --padding-12xs-4: 0.4px;
    --padding-12xs-9: 0.9px;
    --padding-12xs-1: 0.1px;
    --padding-22xl: 41px;
    --padding-5xs-8: 7.8px;
    --padding-10xs-6: 2.6px;
    --padding-114xl: 133px;
    --padding-31xl: 50px;
    --padding-44xl: 63px;
    --padding-107xl: 126px;
    --padding-28xl: 47px;
    --padding-7xs-7: 5.7px;
    --padding-2xl-4: 21.4px;
    --padding-3xl-8: 22.8px;
    --padding-12xs-3: 0.3px;
    --padding-lgi-9: 19.9px;
    --padding-3xl-1: 22.1px;
    --padding-base-5: 16.5px;
    --padding-2xl-7: 21.7px;
    --padding-14xl: 33px;
    --padding-4xl-1: 23.1px;
    --padding-6xl: 25px;
    --padding-5xl: 24px;
    --padding-mini-4: 14.4px;
    --padding-11xs-1: 1.1px;
    --padding-4xs-5: 8.5px;
    --padding-141xl: 160px;
    --padding-36xl: 55px;
    --padding-11xl: 30px;
    --padding-111xl: 130px;
    --padding-39xl: 58px;
    --padding-40xl: 59px;
    --padding-90xl: 109px;
    --padding-35xl: 54px;
    --padding-144xl: 163px;
    --padding-258xl: 277px;
    --padding-50xl: 69px;
    --padding-119xl: 138px;
    --padding-41xl: 60px;
    --padding-4xl-4: 23.4px;
    --padding-32xl: 51px;
    --padding-190xl: 209px;
    --padding-27xl: 46px;
    --padding-base-1: 15.1px;
    --padding-10xs-4: 2.4px;
    --padding-45xl: 64px;
    --padding-mini-9: 14.9px;
    --padding-9xs-1: 3.1px;
    --padding-2xs-3: 10.3px;
    --padding-2xs-5: 10.5px;
    --padding-xs-8: 11.8px;
    --padding-52xl: 71px;
    --padding-11xs-9: 1.9px;
    --padding-85xl: 104px;
    --padding-16xl-4: 35.4px;
    --padding-9xl-4: 28.4px;
    --padding-47xl: 66px;
    --padding-113xl: 132px;
    --padding-11xs-4: 1.4px;
  
    /* Border radiuses */
    --br-9xs: 4px;
    --br-1381xl: 1400px;
    --br-11xs: 2px;
    --br-10xs: 3px;
    --br-10xs-6: 2.6px;
    --br-91xl: 110px;
    --br-8xs: 5px;
    --br-11xl: 30px;
    --br-6xs: 7px;
  }
  