.loginTitle,
.findIdTitle,
.findPwTitle,
.changePwTitle,
.title {
    align-self: stretch;
}

.loginTitle,
.findIdTitle,
.findPwTitle,
.changePwTitle {
    position: relative;
    font-size: var(--font-size-smi);
    line-height: 19px;
    color: var(--color-darkgray-300);
    flex-shrink: 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.4px;
}

.label-input-usid,
.label-input-authcode,
.label-input-upass,
.label-input-upassConfirm {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke-100);
    height: 53.3px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.02) inset;
    border-radius: var(--br-10xs-6);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-3xl) 17.3px;
    box-sizing: border-box;
    font-family: var(--font-jost);
    opacity: 0.85;
    min-width: 240px;
}

.logo-container {
    width: 100%;
}

.login-success {
    width: 100%;
}

.findIdBtnDiv,
.findPwBtnDiv,
.changePwBtnDiv {
    display: flex;
}

.authcode-input {
    width: 100%;
}

.authcode-input-container {
    align-self: stretch;
    padding: 0 0 0 var(--padding-11xs);
    display: flex;
}

.findIdBtn,
.cancelFindIdBtn,
.findPwBtn,
.cancelFindPwBtn,
.toLoginBtn,
.toMainBtn,
.verifyAuthcodeBtn,
.tryAuthcodeBtn,
.changePwBtn,
.cancelFindIdBtn {
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    opacity: 0.95;
    max-width: 100%;
    cursor: pointer;
    border: white;
    border-radius: var(--br-10xs);
    font-size: var(--font-size-sm);
}

.findIdBtn,
.findPwBtn,
.changePwBtn {
    width: 310px;
    background-color: var(--color-darkslategray-100);
    color: #fff;
    margin-right: 10px;
}

.cancelFindIdBtn,
.cancelFindPwBtn {
    width: 100px;
    padding: 15px;
    color: #333;
}

.toLoginBtn {
    width: 200px;
}

.toLoginBtn,
.verifyAuthcodeBtn {
    background-color: #31caae;
    color: #fff;
    margin-left: 10px;
}

.tryAuthcodeBtn {
    width: 300px;
    background-color: #333;
    color: #fff;
    margin-right: 10px;
}

.toMainBtn {
    width: 200px;
    padding: 15px;
    color: #333;
    margin-left: 10px;
}

.login-form {
    gap: 15px !important;
}

.error-message {
    display: flex;
    color: red;
    margin-top: 4px;
    font-size: var(--font-size-xs);
}

.sendEmailContent {
    font-size: medium;
}

.strong-login {
    margin: 0;
    width: 100%;
    position: relative;
    font-size: inherit;
    letter-spacing: 3.96px;
    line-height: 25.2px;
    font-weight: 700;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.strong-login-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-5xl);
    padding-bottom: 10px;
}

.horizontal-divider {
    height: 1px;
    width: 25px;
    position: relative;
    border-top: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
}

.horizontal-divider-frame {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}

.login-header,
.login-title {
    display: flex;
    justify-content: flex-start;
}

.login-title {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-22xl);
}

.login-header {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-11xl);
    box-sizing: border-box;
    max-width: 100%;
    padding-bottom: 30px;
}

.id-input-container {
    width: 52px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-11xs);
    box-sizing: border-box;
}

.id {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.label-input-id,
.label-input-uname,
.password-input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
}

.label-input-id,
.label-input-uname {
    flex: 1;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.02) inset;
    border-radius: var(--br-10xs-6);
    background-color: var(--color-whitesmoke-100);
    padding: var(--padding-mid-1) var(--padding-3xl) var(--padding-mid-2);
    opacity: 0.85;
}

.password-input-container {
    align-self: stretch;
    padding: 0 0 0 var(--padding-11xs);
}

.label-input-pw,
.password-input,
.label-input-email,
.user-input {
    align-self: stretch;
    font-size: var(--font-size-smi-4);
    color: var(--color-darkgray-300);
}

.label-input-pw,
.label-input-id,
.label-input-email,
.label-input-uname {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-whitesmoke-100);
    height: 53.3px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.02) inset;
    border-radius: var(--br-10xs-6);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lg) var(--padding-3xl) 17.3px;
    box-sizing: border-box;
    font-family: var(--font-jost);
    opacity: 0.85;
    min-width: 240px;
}

.user-input {
    flex-direction: column;
    gap: 8px;
}

.password-input {
    flex-direction: column;
    gap: 16.3px;
}

.id-input,
.input-fields,
.password-input,
.find-input,
.user-input {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.id-input,
.find-input {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-lgi-4);
}

.input-fields {
    align-self: stretch;
    flex-direction: row;
    box-sizing: border-box;
}

.loginBtn {
    width: 410px;
    border-radius: var(--br-10xs);
    background-color: var(--color-darkslategray-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0.95;
    max-width: 100%;
    cursor: pointer;
    font-size: var(--font-size-sm);
    color: #fff;
}

.userFindId {
    display: inline-block;
    min-width: 64px;
}

.userFindId,
.userFindPw,
.userSignUp {
    position: relative;
    line-height: 17px;
    cursor: pointer;
}

.userFindPw {
    display: inline-block;
    min-width: 76px;
}

.userSignUp {
    width: 62px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.find-login {
    width: 302px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-weight: bold;
}

.find-login-wrapper,
.input-fields-parent {
    align-self: stretch;
    justify-content: flex-start;
}

.find-login-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-30xl);
    text-align: right;
    font-size: var(--font-size-xs);
    padding-top: 10px;
}

.input-fields-parent {
    flex-direction: column;
    gap: var(--gap-6xl);
    text-align: left;
    font-size: var(--font-size-base);
}

.input-fields-parent,
.login,
.login-desktop,
.login-form {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
}

.login-form {
    width: 409px;
    flex-direction: column;
    justify-content: flex-start;
}

.login,
.login-desktop {
    box-sizing: border-box;
}

.login {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-36xl);
    text-align: center;
    font-size: var(--font-size-3xl);
    color: var(--color-black);
    font-family: var(--font-jost);
}

.login-desktop {
    width: 1692px;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-141xl);
    gap: 90.4px;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 750px) {

    .login {
        padding-left: var(--padding-7xl);
        box-sizing: border-box;
    }

    .login {
        padding-left: var(--padding-8xl);
    }

    .login-desktop {
        gap: var(--gap-26xl);
    }
}

@media screen and (max-width: 450px) {

    .strong-login {
        font-size: var(--font-size-lg);
        line-height: 20px;
    }

    .login-title {
        gap: var(--gap-xl);
    }

    .find-login-wrapper {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }

    .login-form {
        gap: 62px;
    }

    .login-desktop {
        gap: var(--gap-4xl);
    }

}