.findIdTitle,
.title {
    align-self: stretch;
}

.findIdTitle {
    position: relative;
    font-size: var(--font-size-smi);
    line-height: 19px;
    color: var(--color-darkgray-300);
    flex-shrink: 0;
}

.findIdBtnDiv {
    display: flex;
}

.findIdBtn,
.cancelFindIdBtn {
    padding: 15px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    opacity: 0.95;
    max-width: 100%;
    cursor: pointer;
    border: white;
    border-radius: var(--br-10xs);
    font-size: var(--font-size-sm);
}

.findIdBtn {
    width: 310px;
    background-color: var(--color-darkslategray-100);
    color: #fff;
    margin-right: 10px;
}

.cancelFindIdBtn {
    width: 100px;
    padding: 15px;
    color: #333;
}

.error-message {
    color: red;
    margin-top: 4px;
    font-size: var(--font-size-xs);
}